body {
    background-color: rgb(37, 9, 44);
    color: white;
}

ol {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

ul {
    font-style: normal;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

a {
    color:white
}

h4 {
    color: white;
    text-align: center;
}

h6 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

a:visited {
    color: bisque;
}

span {
    color: white;
}


.info {
    font-size: 12px;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.smallwhite {
    color: white;
    font-size: 18px;
}

.toppadding {
    padding-top: 10px;
}

.rightpadding {
    padding-right: 5px;
}

.bottompadding {
    padding-bottom: 10px;
}


